body {
    background: antiquewhite;
    font-family: "Inter";
}
h1 {
    text-align: center;
    font-size: 60px;
}
/* FORMULÁRIO */
form {
    display: flex;
    flex-direction: column;
    margin: 0% 35%;
}
label {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0 12px 0;
}
input#nome, input#telefone, input#email, input#numero {
    border: solid 3px;
    font-size: 18px;
    padding: 10px;
}
:focus {
    outline-offset: 2px;
}

/* TELEFONE/CELULAR */

/* BOTÃO */
input#submit {
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    padding: 12px;
    width: 150px;
}
input#submit:hover {
    background: #000;
    color: #fff;
    outline: navy dashed 2px;
    outline-offset: 2px
}


