main {
    display: flex;
    flex-direction: column;
    margin: 0% 25%;
}
#conteudo {
    background: #fff;
    border: solid 3px;
    margin-top: 20px;
}
h2 {
    text-align: center;
    margin: 55px 0;
}
/* DROPDOWN */
ol {
    margin: 0 15px;
}
#ver-mais {
    text-align: center;
    border-top: solid;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 5px;
}
.none {
    display: none;
}
.line-through {
    text-decoration: line-through;
}
.errado {
    color: red;
}
.certo {
    color: green;
    font-weight: 500;
}
/* BOTÃO */
#botao {
    margin-top: 25px;
}
/* RESPONSIVO */
@media (max-width: 1280px) {
    ol {margin: 0 15px 0 0;}
}
@media (max-width: 1140px) {
    main {margin: 0% 23%;}
}
@media (max-width: 768px) {
    main {
        margin: 0% 15%;
        align-items: center;
    }
    #respostas {padding: 0 3px;}
}
@media (max-width: 480px) {
    main {margin: 0% 10%;}
    h2 {
        font-size: 20px;
        margin: 35px 0;
    }
    li {font-size: 15px;}
    #ver-mais {font-size: 16px;}
}
@media (max-width: 375px) {
    main {margin: 0% 8%;}
    h2 {
        font-size: 18px;
        margin: 35px 0;
    }
    li {font-size: 13px;}
    #ver-mais {font-size: 14px;}
}